# config/server_config.yaml
server:
  host: "0.0.0.0"
  port: 9090
  max_connections: 5
  buffer_size: 1024
  encoding: "utf-8"

model:
  model_path: "C:/Users/Andrew/Desktop/LinuxIT-TCP-IP/weights/best-2cls.pt"
  preprocessor_path: "C:/Users/Andrew/Desktop/LinuxIT-TCP-IP/weights/best-2cls-preprocessor.pt"
  img_path: "../test_photos"
  confidence_threshold: 0.9
  img_size: 640
  classes:
    - 'defected_pear'
    - 'normal_pear'

logging:
  level: "INFO"
  format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
  file: "logs/pear_detection.log"

ERROR_CODE:
  no_error: 0
  invalid_message: 1
  resource_not_found: 2
  not_exist_command: 3
  timeout: 4